.leaflet-container {
    font:inherit;
}
.leaflet-container a.btn-primary, .leaflet-container a.btn-warning {
    color: #FFF;
}

.leaflet-container a.btn-default {
    color: #333;
}

.leaflet-container h2 {
    font-size: 24px;
}

#checkboxlist .checkbox{
    padding:0;
    min-height:0;
}

#checkboxlist input[type=checkbox] {
    display:none;
}

#checkboxlist input[type=checkbox] ~ label{
    background-color: rgba(255, 255, 255, 1);
    padding:5px;
    margin:0;
    display:block;
    transition:all 0.2s;
}
#checkboxlist input[type=checkbox]:checked ~ label{
    background-color: #428BCA;
    color:#FFF;
}
#checkboxlist input[type=checkbox] ~ label:hover{
    background-color: rgba(188, 232, 241, 0.5);
}
#checkboxlist input[type=checkbox]:checked ~ label:hover{
    background-color: #3276B1;
    color:#FFF;
}

#checkboxlist input[type=checkbox]:checked ~ label:before{
    font-family:"FontAwesome";
    content:"\f05d";
    float:right;
}