html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.leaflet-popup-content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.leaflet-popup-content-wrapper {
  border-radius: 5px;
}
.leaflet-sidebar {
  z-index: 1020;
}
.leaflet-control-layers-separator {
    height: 30px;
    border-top: 1px solid #DDD;
    margin: 5px 10px 5px 6px;
    }
.leaflet-sidebar>.close {
  display:none;
}
.leaflet-right{z-index : 10;}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
 print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
/* OSM opening hours / happy hours parsing */
.opening-hours-circle {
    background: grey;
    width : 15px;
    height: 15px;
	border:1px solid #679403;
	border-radius:50%;
	}

/* Beer - autocomplete */

ul.ui-autocomplete {
    z-index: 1100;
}

/* Reset styles in side bar */
.leaflet-container {
    font:inherit;
}
.leaflet-container a.btn-primary, .leaflet-container a.btn-warning {
    color: #FFF;
}

.leaflet-container a.btn-default {
    color: #333;
}

.leaflet-container h2 {
    font-size: 24px;
}

/* Sidebar beers list */

#checkboxlist .checkbox{
    padding:0;
    min-height:0;
}

#checkboxlist input[type=checkbox] {
    display:none;
}

#checkboxlist input[type=checkbox] ~ label{
    background-color: rgba(255, 255, 255, 1);
    padding:5px;
    margin:0;
    display:block;
}
#checkboxlist input[type=checkbox]:checked ~ label{
    background-color: rgba(188, 232, 241, 0.7);
}
#checkboxlist input[type=checkbox] ~ label:hover{
    background-color: rgba(188, 232, 241, 0.5);
}
#checkboxlist input[type=checkbox]:checked ~ label:hover{
    background-color: rgba(188, 232, 241, 0.9);
}

/* To test radio buttons
[data-toggle="buttons"] > .btn > input[type="radio"], [data-toggle="buttons"] > .btn > input[type="checkbox"] {
    display: inline;
}
*/

/* Minimum zoom indicator */
.leaflet-control-minZoomIndecator{
    font-style:italic;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9)!important;
    border-radius: 4px!important;
    padding: 1px 15px;
    display: block;
}