#setupModal input[type=checkbox] {
    display:none;
}
#setupModal input[type=checkbox] ~ label{
    background-color: rgba(255, 255, 255, 1);
    padding:5px;
    margin:0;
    display:block;
    transition:all 0.2s;
    cursor:pointer;
}
#setupModal input[type=checkbox]:checked ~ label{
/*     background-color: #428BCA; */
/*     color:#FFF; */
}
#setupModal input[type=checkbox] ~ label:hover{
/*     background-color: rgba(188, 232, 241, 0.5); */
    color:#000;
}
#setupModal input[type=checkbox]:checked ~ label:hover{
/*     background-color: #3276B1; */
/*     color:#FFF; */
}

#setupModal input[type=checkbox] ~ label:before{
    font-family:"FontAwesome";
    content:"\f005";
    margin-right:1ex;
    text-shadow:0px 0px 1px #000;
    color:#EEE;
}

#setupModal input[type=checkbox]:checked ~ label:before{
    content:"\f005";
    color:#FFC329;
}